$primary:    #4DCBFF;
$dark-blue:  #004c91;
$med-blue:   #007dc6;
$light-blue: #78b9e7;
$teal-blue:  #4DCBFF;
$dull-blue:  #4084A2;

$danger:     #f53d3d;
$red:        #e62b1e;

$orange:     #f47321;

$yellow:     #ffc220;

$dark-green: #367c2b;
$light-green:#76c043;
$secondary:  #32db64;
$favorite:   #69BB7B;

$dark-grey:  #696969;
$light-grey: #A4A5A5;
$light:      #f4f4f4;
$background: #F1F4F7;
$white:      #FFFFFF;
$dark:       #000000;




html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.main-body {
  background-color: black;
  color: $light;
}

html { box-sizing: border-box; }
html *,
html *:before,
html *:after { box-sizing: inherit; }

body {
  margin: 0 auto;
  color: #161616;
  font-family: 'Roboto', sans-serif;
  background-color: currentColor;
}

h1 {
  margin-bottom: 1.375em;
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
p,
a {
  color: $light;
  font-size: small;
}
p { margin: 1.375rem 0; }

/*
  This is the dark gradient that overlays the images so the title is easy to define
  Tip: I would mess with the 0.3 (currently) to like .4 to make it stronger and vice versa
*/
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.3) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0.3) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
