@import "../app";

body {
  font-size: 1.2rem;
  font-family: Oxygen !important;
}

.container {
  display: inline-block;
  text-align: center;

  .sub-text {
    display: block;
    font-size: 15px;
  }

  .days {
    font-size: 20px;
  }
}

.calendar {
  float: right;
  width: 400px;
  padding: 5px 5px 0 5px; //top right bottom left

  .calendar-header {
    background-color: $primary;
    padding: 10px 0 10px 10px;
    vertical-align: center;
    font-size: 20px;

  }

  .calendar-content {
    padding: 10px 24px 0 24px;

    .body {
      padding-left: 8px;

      .details {
        font-size: 1.5rem;
      }
    }
  }
}

.hr-line {
  background-color: $dark-grey;
}

.current-data {
  padding-top: 100px;
  position: absolute;

  .current-weather {
    padding: 0 20px 20px 0;
    text-align: left;
    float: left;
    line-height: 30px;

    .main-icon {
      font-size: 20px;
      position: relative;
      float: left;
    }

    .current-temp {
      font-size: 30px;
    }

    .sub-data {
      font-size: 20px;
      display: inline-block;
    }
  }

  .clock {
    padding-left: 20px;
    bottom: 0;
    position: absolute;

    .time {
      font-size: 90px;
    }
    .sub-title {
      font-size: 25px;
    }
  }


  .hourly-weather {
    padding: 0 20px 20px 0;
    margin-left: 80px;
    float: left;
    width: 400px;
    font-size: 15px;

    .hourly-data {
      padding-left: 16px;
      font-size: 1.2rem;
    }
  }
}
