

<ion-content  class="main-body">

  <!--div *ngFor="let day of forecast">
    {{day.forecast.txt_forecast.forecastday[0].title}}
  </div>

  <div *ngFor="let data of forecast">
    <div *ngFor="let day of data.forecast.txt_forecast.forecastday">
      {{day.title}}
    </div>
  </div-->

  <!--div *ngFor="let days of forecast.forecast.txt_forecast.forcastday">
    {{days.title}}
  </div-->


  <!-- Forecast -->
  <font *ngFor="let data of forecast">
    <div *ngFor="let day of data.forecast.simpleforecast.forecastday" class="container">
      <div class="sub-text days">
        <b>{{day.date.weekday}}</b>
      </div>
      <div class="icon sunny">
        <div class="sun">
          <div class="rays"></div>
        </div>
      </div>
      <div class="sub-text">
        {{day.low.fahrenheit}}°F - {{day.high.fahrenheit}}°F<br>
        {{day.conditions}}<br>
        {{day.date.monthname_short}}, {{day.date.day}} {{day.date.year}}
      </div>
    </div>
  </font>

  <!-- MAKE SURE YOU TAKE THIS OUT -->
  <font *ngIf="forecast == 0">
    <div *ngFor="let i of [1, 2, 3, 4]" class="container">
      <div class="sub-text days">
        <b>Someday</b>
      </div>
      <div class="icon sunny">
        <div class="sun">
          <div class="rays"></div>
        </div>
      </div>
      <div class="sub-text">
        69°F<br>
        House on Fire<br>
        March 17, 1993
      </div>
    </div>
  </font>

  <!-- Calendar -->
  <div class="calendar">
    <div class="calendar-header">
      <b>Calendar</b>
    </div>
    <div class="calendar-content" *ngFor="let item of calendarItems">
      <div *ngFor="let data of item.items; let i = index">
        <div *ngIf="i != 0"><hr class="hr-line"></div>
        <div class="body">
          <b class="details"> {{data.summary}} </b> <br>
          {{data.updated}}  |  1 PM - 2 PM <br>
          <div *ngIf="data.description != NULL">
            <ion-icon name="document" style="margin-right: 5px; padding-top: 5px;"></ion-icon>
            {{data.description}}
          </div>
          <div *ngIf="data.location != NULL">
            <ion-icon name="pin" style="margin-right: 8px; padding-top: 5px;"></ion-icon>{{data.location}}
          </div>
        </div>
      </div>
    </div>
    <div class="calendar-content" *ngIf="calendarItems == 0">
        <br>
        <b class="details"> You got no upcoming events (Time to party!)</b>
    </div>
  </div>

<div class="current-data">
  <div class="day-data">

    <!-- Current Weather  -->
    <div class="current-weather">
      <div class="icon thunder-storm main-icon">
        <div class="cloud"></div>
        <div class="lightning">
          <div class="bolt"></div>
          <div class="bolt"></div>
        </div>
      </div>
      <font *ngFor="let current of currentWeather" class="sub-data">
        {{current.current_observation.weather}}<br>
        <font class="current-temp">
          {{current.current_observation.temp_f}}°F
        </font><br>
        Feels like {{current.current_observation.feelslike_f}}°F<br>
        {{current.current_observation.relative_humidity}} Humidity <br>
        {{current.current_observation.display_location.full}}<br>
      </font>
      <font *ngIf="currentWeather == 0" class="sub-data">
        Adventure Time!<br>
        <font class="current-temp">69°F</font><br>
        Be Do Be Do!<br>
        There is no WIFI,<br>
        Stupid Internet<br>
      </font>
    </div>

    <div class="clock">
      <font class="sub-title">
        Tuesday | 8/17/2016
      </font><br>
      <div class="time">
        12:69:21 PM
      </div>
    </div>

  </div>

  <!-- Hourly Weather -->
  <div class="hourly-weather">
    <b>Hourly Forecast</b>
    <hr class="hr-line">
    <div *ngIf="hourlyWeather != 0">
      <div *ngFor="let data of hourlyWeather">
        <div *ngFor="let hourly of data.hourly_forecast; #i = index">
          <div *ngIf="i < 12">
            <font class="hourly-data">
              {{hourly.FCTTIME.civil}} - {{hourly.temp.english}}°F | {{hourly.condition}}
            </font>
            <hr class="hr-line">
          </div>
        </div>
      </div>
    </div>
    <!-- You know. if we lose internet connection or something -->
    <div *ngIf="hourlyWeather == 0">
      <font class="hourly-data">Cannot get the hourly forecast</font>
    </div>
  </div>


</div>




  <!--iframe src="http://free.timeanddate.com/clock/i5bmyk34/n5079/fs30/fcfff/tc000/pc000/ahl/ftb/tt0/th2/tb4" frameborder="0" width="463" height="74"></iframe-->



  <!--div *ngFor="let forecast_1 of forecast">
    <div *ngFor="let txt of forecast_1.txt_forecast">
      <div *ngFor="let days of txt.forecastday">
        {{days.title}}
      </div>
    </div>
  </div>

  <div *ngFor="let day of forecast">
    {{day.forecast.txt_forecast.forecastday[0].title}}
  </div-->

  <!--div *ngFor="let days of forecast.forecast.txt_forecast.forcastday">
    {{days.title}}
  </div-->








  <!--div>
    <button (click)="tapSandbox()">
      Visit Sandbox
    </button>
  </div-->

</ion-content>
