@import "../app";

body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: inline-block;
  text-align: center;

  .sub-text {
    display: block;
  }

  .days {
    font-size: 1.4rem;
  }
}

.calendar {
  float: right;
  width: 400px;
  padding: 5px 5px 0 5px; //top right bottom left
  margin-right: 30px;

  .calendar-header {
    background-color: $primary;
    margin-top: 10px;
    padding: 10px 0 10px 10px;
    vertical-align: center;
    font-size: 18px;

  }

  .calendar-content {
    padding: 10px 24px 0 24px;

    .body {
      padding-left: 8px;

      .details {
        font-size: 1.4rem;
      }
    }
  }
}

.hr-line {
  background-color: $dark-grey;
}

.current-weather {
  padding: 80px 0 80px 20px;
  text-align: left;
  float: left;
  .time {
    font-size: 36px;
  }

  .title {
    font-size: 36px;
  }

  .sub-title {
    font-size: 25px;
  }

  .sub-data {
    font-size: 15px;
  }
}
